/*HelloWorld元件設定*/
/*這裡是自行設計CSS樣式的檔案,或是位置擺放
改顏色完畢後,記得跑npm run dev*/
#app{
    height:100vh;
}
.helloWorld{
    background:pink;/*_variable.scss裡面有可以使用的變數"$XXX" 方便管理顏色*/
    width:100%;
    min-height:100vh;
    box-sizing:border-box;
    a{
       display:block;
       text-align:right;
    }

    
  }

/*HellowWorld置入 Products.vue元件設定*/
 .products{
        max-width:90%;
        min-height:100vh;
        margin-left:210px;
        box-sizing:border-box;
    }

/*HelloWorld置入 Navbar.ve元件*/
    .navbar{
        height:100vh;
        width:200px;
        position:fixed;
        top:0;
        left:0;
        display:flex;
        flex-direction:column;
        padding:0;
        ul{
            width:100%;
            margin-top:80px;
            padding:0;
            margin-left:10px;
             li{
                width:90%;;
                height:50px;
                background:rgb(168, 199, 168);
                margin-top:10px;
                border-radius:10px;
                line-height:2.5;
                font-weight:bold;
                font-size:18px;
                cursor:pointer;
                @media(max-width:768px){//成功!可以寫在這邊
                    background:red;
                }
            }
        }
       
    }
   